@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

* {
    padding: 0;
    margin: 0;
}

.\[scrollbar-gutter\:stable\] {
    scrollbar-gutter: unset;
}
